.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    margin: 20px;
    min-width: 260px;
    padding: 10px 20px;
}

.product-card img {
    height: 153px;
    width: 151px;
}

.category {
    font-size: 10px;
    color: #949494;
}

.price {
    font-size: 12px;
}

.product-card a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    /*The a tag is still linked to the Link tag*/
}

.product-card a:hover {
    color: red;
}

.heart-icon {
    color: red;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 140px;
}

.lower-content {
    width: 200px;
}


@media (max-width: 768px) {
    .heart-icon {
        margin-left: 15px;
        margin-bottom: 140px;
    }
}
