.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #3A4895;
    color: white;
    padding: 0 20px;
}

.footer-container a {
    text-decoration: none;
    color: white;
}

.footer-container a:hover {
    color: red;
}

.footer-left-content {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-evenly;
}