.product-details-container {
    min-height: 100vh;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 60px 0;
}

.product-details img {
    width: 250px;
    height: auto;
}


.product-details-content {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.product-details-content h2, h3, p, button {
    margin-top: 20px;
}

.product-details-content button {
    width: 156px;
    height: 41px;
    background-color: #FFD814;
    border: none;
    cursor: pointer;
}

.product-details-content button:hover {
    color: red;
}

@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
    }
}