.home-container {
    min-height: 100vh;
    padding: 0 80px;
}

nav button {
    margin-left: 20px;
    border: none;
    background-color: transparent;
    color: #3A4895;
    cursor: pointer;
}

nav button:hover {
    color: red;
}

nav {
    margin-left: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    nav {
        justify-content: center;
        margin-left: 0;
    }
}
